.form-container {
    margin-bottom: 32px; /* Abstand nach unten */
    padding: 16px;       /* Innenabstand */
    border: 4px solid #e4f21a;
    border-radius: 8px;      /* abgerundete Ecken */
    background: #a9eba2;
}

.gewarnt {
    background-color: #ffe5e5;
    color: #a70000;
    font-weight: bold;
}