<!DOCTYPE html>
<html lang="de">
<head>
    <title>Klettermaterial</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>

<div class="form-container">
    <p> Datenbank mit Beispieldaten befuellen:</p>
    <form>   <button type="button" onclick="location.href='/initdb'">befuellen</button> </form>
</div>

<div class="form-container">
    <p> Info: </p>
    <p> Ein Seil darf maximal 10 Jahre genutzt werden.
        Bei 10 Abnutzungspunkten wird 1 Jahr Lebensdauer vom Seil abgezogen.
        Ein schwerer Sturz entspricht 1 Punkt.
        Abgelaufene Seile werden rot markiert und sollten nach Ablaufdatum nicht zum Klettern weiterverwendet werden.
    </p>
</div>

<div class="form-container">
<p> Hier sind alle Kletterseile: </p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Herstellungsdatum</th>
            <th>Ablaufdatum</th>
            <th>Abnutzungspunkte</th>
            <th>Löschen</th>
            <th>Bearbeiten</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="seil : ${seile}"
            th:classappend="${seil.abgelaufen} ? 'gewarnt' : ''">
            <td>
                <span th:text="${seil.name}"></span>
                <span th:if="${seil.abgelaufen}"></span>

            <td th:text="${seil.herstellungsdatum}"></td>
            <td th:text="${seil.ablaufdatum}"></td>
            <td th:text="${seil.abnutzungspunkte}"></td>
            <td>

                <a th:href="@{/loeschen(id=${seil.id})}"> <i class="bi bi-trash"></i> </a>
            </td>

            <td>
                <a th:href="@{/bearbeiten(id=${seil.id})}"> <i class="bi bi-wrench"></i> </a>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div class="form-container">
<p> Hier kannst du ein Seil hinzufügen: </p>
<form th:action="@{/add}" th:object="${newSeil}" method="post">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}" required />
    </div>
    <div>
        <label>Herstellungsdatum</label>
        <input type="date" th:field="*{herstellungsdatum}" required />
    </div>
    <div>
        <label>Ablaufdatum</label>
        <input type="date" th:field="*{ablaufdatum}" required />
    </div>
    <div>
        <label>Abnutzungspunkte</label>
        <input type="number" th:field="*{abnutzungspunkte}" required />
    </div>

    <div th:if="${datumFehler}">
        <p th:text="${datumFehler}" style="color: red;"></p>
    </div>

    <button type="submit">Speichern</button>
</form>
</div>


</body>
</html>