<!DOCTYPE html>
<html lang="en">
<head>
    <title>Klettermaterial</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
</head>


<body>
<div class="form-container">
<p> Hier können Kletterseile gefiltert werden</p>
</div>

<div class="form-container">
<form>
    <input type="text" name="senderFilter" th:value="${filter}">
    <input type="submit">
</form>
<br />
<br />

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Herstellungsdatum</th>
            <th>Ablaufdatum</th>
            <th>Abnutzungspunkte</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="seil : ${seile}">
            <td th:text="${seil.id}"></td>
            <td th:text="${seil.name}"></td>
            <td th:text="${seil.herstellungsdatum}"></td>
            <td th:text="${seil.ablaufdatum}"></td>
            <td th:text="${seil.abnutzungspunkte}"></td>
        </tr>
    </tbody>
</table>
</div>

<div class="form-container">
<p> Hier kannst du ein Seil hinzufügen: </p>
<form th:action="@{/add}" th:object="${neuesSeil}" method="post">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}" required />
    </div>
    <div>
        <label>Herstellungsdatum</label>
        <input type="date" th:field="*{herstellungsdatum}" required />
    </div>
    <div>
        <label>Ablaufdatum</label>
        <input type="date" th:field="*{ablaufdatum}" required />
    </div>
    <div>
        <label>Abnutzungspunkte</label>
        <input type="number" th:field="*{abnutzungspunkte}" required />
    </div>
    <button type="submit">Speichern</button>
</form>
</div>

<div class="form-container">
<p> Hier kannst du ein Seil löschen. Gib den Namen dafür ein: </p>
<form th:action="@{/delete}" method="post">

        <label>Name</label>
        <input type="text" name="name" required />

    <button type="submit">Löschen</button>
</form>
</div>

<div class="form-container">
<p> Hier kannst du den Namen eines Seils verändern: </p>
<form th:action="@{/update-name}" method="post">
    <label>Alter Name</label>
    <input type="text" name="oldName" required />
    <label>Neuer Name</label>
    <input type="text" name="newName" required />
    <button type="submit">Namen ändern</button>
</form>
</div>

<div class="form-container">
<p> Hier kannst du die Punkteanzahl eines Seils verändern: </p>
<form th:action="@{/update-abnutzungspunkte}" method="post">
    <label>Seilname:</label>
    <input type="text" name="seilName" required />
    <label>Neue Abnutzungspunkte</label>
    <input type="number" name="newAbnutzungspunkte" required />
    <button type="submit">Punkte ändern</button>
</form>
</form>
</div>

</body>
</html>