<!DOCTYPE html>
<html lang="de">
<head>
  <title>Klettermaterial</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>

<p th:text="'Willst du das Seil '+ ${loeschenName} + ' löschen?'">
</p>

<p> Wenn ja dann klick auf Löschen: </p>
<form th:action="@{/delete(name=${loeschenName})}" method="post">
  <button type="submit">Löschen</button>
  <button type="button" onclick="location.href='/'">Abbrechen</button>
</form>
</div>

</body>
</html>